<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>All COuntries</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>All COuntries ({{countries|length}})</h1>
                <table class="table table-hoer table-striped table-info">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Capital</th>
                            <th>Borders</th>
                            <th>Population</th>
                            <th>Area</th>
                            <th>Flag</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for con in countries %}
                            <tr>
                                <td>{{con.name}}</td>
                                <td>{{con.capital}}</td>
                                <td>{{con.borders}}</td>
                                <td>{{con.population}}</td>
                                <td>{{con.area}}</td>
                                <td><img src="{{con.flag}}" alt="" height="100"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- {{countries}} -->
            </div>
        </div>
    </div>
</body>
</html>