<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>HTML First Page</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <h1 style="color: red;" class="text-center">Lorem Ipsum</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quia, sit nemo deserunt nam ex minima itaque repellendus beatae ad esse suscipit, sed obcaecati odio nesciunt repellat vero labore optio?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quia, sit nemo deserunt nam ex minima itaque repellendus beatae ad esse suscipit, sed obcaecati odio nesciunt repellat vero labore optio?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quia, sit nemo deserunt nam ex minima itaque repellendus beatae ad esse suscipit, sed obcaecati odio nesciunt repellat vero labore optio?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quia, sit nemo deserunt nam ex minima itaque repellendus beatae ad esse suscipit, sed obcaecati odio nesciunt repellat vero labore optio?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quia, sit nemo deserunt nam ex minima itaque repellendus beatae ad esse suscipit, sed obcaecati odio nesciunt repellat vero labore optio?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quia, sit nemo deserunt nam ex minima itaque repellendus beatae ad esse suscipit, sed obcaecati odio nesciunt repellat vero labore optio?
    </p>
    <img src="{% static 'images/profile.jpg' %}" alt="">
    <img src="/static/images/profile.jpg" alt="">
    <ol>
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Python</li>
        <li>Django</li>
    </ol>
    <h4>{{a}}</h4>
    <h1 class="text-center">Total Colors ({{col|length}})</h1>
    <table border="1" align="center" cellspacing="0" cellpadding="20" width="50%"> 
        <script>var c=1;</script>
        {% for i in col %}
            <tr>
                <td><script>document.write(c);c++;</script></td>
                <td>{{i}}</td>
                <td><div style="height:50px;width:100px;background:{{i}}"></div></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>