input[type="text"],textarea{
    width:100%;
}
.myinput {
    width:100%;height:30px;margin-bottom:20px;
}
form{
    width:60%;background:rgba(255,0,0,0.5);padding:50px;
    margin:100px auto;
}
input[type="submit"]{
    background:linear-gradient(to left,green, blue);
    height:40px;width: 100%;border: none;border-radius: 20px;
    color:white;margin-top:20px;
}
input[type="submit"]:hover{
    box-shadow: 0px 0px 20px gray;
}
body{
    background:url("../images/nature.jpg");
    background-size: cover;background-attachment: fixed;
}